!!!
%html
  %head
    %title TwitterFeeds
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.m-bg-light-grey
    = render 'shared/nav'
    .l-margin-top-nav= yield
